task-2/AI Agent Course - Task 2.json
{
  "name": "AI Agent Course - Task 2",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        112,
        -112
      ],
      "id": "34588db5-fd5a-4c56-8519-fc70427a8e1f",
      "name": "When chat message received",
      "webhookId": "4d9b438c-a82a-4a4c-a4e9-3b79a16ebdf6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        -112
      ],
      "id": "fae734f6-5b0e-45c4-9a2a-928a32a99cca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        64
      ],
      "id": "5c096234-8bd0-40f3-abb5-46c6885169a7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "XZKOkVp2xaD8hPbY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "ccg_enemy_cards",
          "mode": "list",
          "cachedResultName": "ccg_enemy_cards"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        304
      ],
      "id": "cbd76912-e1aa-463f-ab0a-550a99c5f3c1",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "hj7d8qYgBMvye5Ck",
          "name": "AI Agent Course - Task 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        528
      ],
      "id": "8120825e-ff9b-44fc-8104-0cd30549cbe5",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "WGbk5DedAWDku8Yb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        128,
        304
      ],
      "id": "511be068-a3ba-4bb2-b33b-6ff205840ba5",
      "name": "Upload ccg card",
      "webhookId": "ed8b6bba-78a9-4528-acf2-24fac9fcd88d"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        608,
        528
      ],
      "id": "e2751b61-bff6-4f75-8bbd-25258cd772bf",
      "name": "Upload Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Database with ccg cards annotations and image description with examples of play cards.",
        "tableName": {
          "__rl": true,
          "value": "ccg_enemy_cards",
          "mode": "list",
          "cachedResultName": "ccg_enemy_cards"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        656,
        112
      ],
      "id": "9040cb3c-f71c-4522-a533-6534d2ebfa6a",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "hj7d8qYgBMvye5Ck",
          "name": "AI Agent Course - Task 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Example only - it works with text files\n\nDefault Upload Loader does not support images",
        "height": 300,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        272
      ],
      "typeVersion": 1,
      "id": "0eceaa53-3f57-4a9b-a2d3-600db7db44b8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "message": "=processed {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        768,
        -112
      ],
      "id": "998cc928-04f4-4244-a8a0-2bd6d0ca8566",
      "name": "Chat",
      "webhookId": "13d46ccf-ef11-42c7-b8ab-19db4c7269e7"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        112
      ],
      "id": "1f89ed8d-e616-4522-811c-f1bf0b7e92a5",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        []
      ],
      "main": [
        []
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Upload ccg card": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "475a3856-06b4-4b37-a117-444af19ce07a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "66f0e7f073343a854063616f511a0a2c9ec940ae6b1e773eb1fa0f59c8abefd5"
  },
  "id": "KL3FOimSi5fsxCXh",
  "tags": []
}